*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
}

html {
  font-family: inherit;
  line-height: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 14pt;
}

@keyframes lds-grid {

0%, 100% {
    opacity: 1;
  }
  
50% {
    opacity: 0.5;
  }

}
.webman-cljs_ornament_components__loading{box-sizing:border-box;display:inline-block;position:relative;width:35px;height:35px}.webman-cljs_ornament_components__loading div{box-sizing:border-box;position:absolute;width:7px;height:7px;border-radius:50%;animation:lds-grid 1.2s linear infinite}.webman-cljs_ornament_components__loading div:nth-child(1){top:3px;left:3px;animation-delay:-0}.webman-cljs_ornament_components__loading div:nth-child(2){top:3px;left:14px;animation-delay:-0.39999999999999997s}.webman-cljs_ornament_components__loading div:nth-child(3){top:3px;left:24px;animation-delay:-0.7999999999999999s}.webman-cljs_ornament_components__loading div:nth-child(4){top:14px;left:3px;animation-delay:-0.39999999999999997s}.webman-cljs_ornament_components__loading div:nth-child(5){top:14px;left:14px;animation-delay:-0.7999999999999999s}.webman-cljs_ornament_components__loading div:nth-child(6){top:14px;left:24px;animation-delay:-0}.webman-cljs_ornament_components__loading div:nth-child(7){top:24px;left:3px;animation-delay:-0.7999999999999999s}.webman-cljs_ornament_components__loading div:nth-child(8){top:24px;left:14px;animation-delay:-0}.webman-cljs_ornament_components__loading div:nth-child(9){top:24px;left:24px;animation-delay:-0.39999999999999997s}.webman-cljs_ornament_components__loading div{--gi-bg-opacity:1;background-color:rgba(37,123,255,var(--gi-bg-opacity));--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__loading div{--gi-bg-opacity:1;background-color:rgba(255,255,54,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__loading div{--gi-text-opacity:1;color:rgba(45,39,39,var(--gi-text-opacity))}}
.webman-cljs_ornament_components__error{border-width:1px;--gi-text-opacity:1;border-color:rgba(252,165,165,var(--gi-border-opacity));padding:1rem;--gi-bg-opacity:1;margin-bottom:1rem;--gi-border-opacity:1;background-color:rgba(254,242,242,var(--gi-bg-opacity));border-radius:.5rem;color:rgba(153,27,27,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error{--gi-bg-opacity:1;background-color:rgba(39,39,42,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error{--gi-text-opacity:1;color:rgba(248,113,113,var(--gi-text-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error{--gi-border-opacity:1;border-color:rgba(153,27,27,var(--gi-border-opacity))}}.webman-cljs_ornament_components__error hr{--gi-border-opacity:1;border-color:rgba(252,165,165,var(--gi-border-opacity))}.webman-cljs_ornament_components__error h3{font-size:1.125rem;line-height:1.75rem;font-weight:500}.webman-cljs_ornament_components__error .content{margin-top:.5rem;margin-bottom:1rem;font-size:.875rem;line-height:1.25rem}.webman-cljs_ornament_components__error .button-container{display:flex}.webman-cljs_ornament_components__error .more-button{--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity));--gi-bg-opacity:1;background-color:rgba(153,27,27,var(--gi-bg-opacity));font-weight:500;border-radius:.5rem;font-size:.75rem;line-height:1rem;padding-left:.75rem;padding-right:.75rem;padding-top:.375rem;padding-bottom:.375rem;margin-right:.5rem;text-align:center;display:inline-flex;align-items:center}.webman-cljs_ornament_components__error .more-button:hover{--gi-bg-opacity:1;background-color:rgba(127,29,29,var(--gi-bg-opacity))}.webman-cljs_ornament_components__error .more-button:focus{box-shadow:var(--gi-ring-inset) 0 0 0 calc(4px+var(--gi-ring-offset-width)) var(--gi-ring-color)}.webman-cljs_ornament_components__error .more-button:focus{outline:2px solid transparent;outline-offset:2px}.webman-cljs_ornament_components__error .more-button:focus{--gi-ring-color:rgba(252,165,165,var(--gi-ring-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .more-button{--gi-bg-opacity:1;background-color:rgba(220,38,38,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .more-button:hover{--gi-bg-opacity:1;background-color:rgba(185,28,28,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .more-button:focus{--gi-ring-color:rgba(153,27,27,var(--gi-ring-opacity))}}.webman-cljs_ornament_components__error .dismiss-button{--gi-text-opacity:1;color:rgba(153,27,27,var(--gi-text-opacity));background-color:transparent;border-width:1px;--gi-border-opacity:1;border-color:rgba(153,27,27,var(--gi-border-opacity));font-weight:500;border-radius:.5rem;font-size:.75rem;line-height:1rem;padding-left:.75rem;padding-right:.75rem;padding-top:.375rem;padding-bottom:.375rem;text-align:center}.webman-cljs_ornament_components__error .dismiss-button:hover{--gi-bg-opacity:1;background-color:rgba(127,29,29,var(--gi-bg-opacity))}.webman-cljs_ornament_components__error .dismiss-button:hover{--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity))}.webman-cljs_ornament_components__error .dismiss-button:focus{box-shadow:var(--gi-ring-inset) 0 0 0 calc(4px+var(--gi-ring-offset-width)) var(--gi-ring-color)}.webman-cljs_ornament_components__error .dismiss-button:focus{outline:2px solid transparent;outline-offset:2px}.webman-cljs_ornament_components__error .dismiss-button:focus{--gi-ring-color:rgba(252,165,165,var(--gi-ring-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .dismiss-button:hover{--gi-bg-opacity:1;background-color:rgba(220,38,38,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .dismiss-button{--gi-border-opacity:1;border-color:rgba(220,38,38,var(--gi-border-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .dismiss-button{--gi-text-opacity:1;color:rgba(239,68,68,var(--gi-text-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .dismiss-button:hover{--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__error .dismiss-button:focus{--gi-ring-color:rgba(153,27,27,var(--gi-ring-opacity))}}.webman-cljs_ornament_components__error .icon{padding-right:.5rem;font-size:1.125rem;line-height:1.75rem}.webman-cljs_ornament_components__error>.container{display:flex;align-items:center}
.webman-cljs_ornament_components__message{display:flex;align-items:center;--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity));padding-left:1rem;padding-right:1rem;padding-top:.75rem;padding-bottom:.75rem}.webman-cljs_ornament_components__message p{font-size:.875rem;line-height:1.25rem;font-weight:700}.webman-cljs_ornament_components__message>.icon{padding-right:.5rem;margin-top:.2rem}
.webman-cljs_ornament_components__info_msg .webman-cljs_ornament_components__message{--gi-bg-opacity:1;background-color:rgba(59,130,246,var(--gi-bg-opacity))}
.webman-cljs_ornament_components__success_msg .webman-cljs_ornament_components__message{--gi-bg-opacity:1;background-color:rgba(34,197,94,var(--gi-bg-opacity))}
.webman-cljs_ornament_components__page{display:flex;flex-direction:column;align-items:stretch;justify-content:flex-start}.webman-cljs_ornament_components__page{--gi-bg-opacity:1;background-color:rgba(255,255,255,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__page{--gi-bg-opacity:1;background-color:rgba(45,39,39,var(--gi-bg-opacity))}}
.webman-cljs_ornament_components__text{font-size:.875rem;line-height:1.25rem;font-weight:500;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.webman-cljs_ornament_components__text{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__text{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}
.webman-cljs_ornament_components__secondary_text{font-size:.875rem;line-height:1.25rem;font-weight:500;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.webman-cljs_ornament_components__secondary_text{color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__secondary_text{color:#d2d8d899}}
.webman-cljs_ornament_components__button{align-items:center;padding-left:.5rem;padding-right:.5rem;padding-top:.5rem;padding-bottom:.5rem;font-size:.875rem;line-height:1.25rem;font-weight:500;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.webman-cljs_ornament_components__button{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__button{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__button:hover{--gi-text-opacity:1;color:rgba(37,123,255,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__button:hover{--gi-text-opacity:1;color:rgba(255,255,54,var(--gi-text-opacity))}}
.webman-cljs_ornament_components__text_button{align-items:center;padding-left:.5rem;padding-right:.5rem;padding-top:.5rem;padding-bottom:.5rem}.webman-cljs_ornament_components__text_button{--gi-bg-opacity:1;background-color:rgba(37,123,255,var(--gi-bg-opacity));--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__text_button{--gi-bg-opacity:1;background-color:rgba(255,255,54,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__text_button{--gi-text-opacity:1;color:rgba(45,39,39,var(--gi-text-opacity))}}.webman-cljs_ornament_components__text_button:hover{--gi-shadow:0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);box-shadow:var(--gi-ring-offset-shadow,0 0 #0000),var(--gi-ring-shadow,0 0 #0000),var(--gi-shadow);text-decoration:underline}
.webman-cljs_ornament_components__button_groups .webman-cljs_ornament_components__button{font-size:1.125rem;line-height:1.75rem;padding-left:.25rem;padding-right:.25rem}
.webman-cljs_ornament_components__input{padding:1rem}.webman-cljs_ornament_components__input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__input{border-color:#d2d8d899}}.webman-cljs_ornament_components__input{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__input{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__input{--gi-bg-opacity:1;background-color:rgba(248,248,248,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__input{--gi-bg-opacity:1;background-color:rgba(65,53,67,var(--gi-bg-opacity))}}.webman-cljs_ornament_components__input:focus{outline:2px solid transparent;outline-offset:2px}
.webman-cljs_ornament_components__search{position:relative}.webman-cljs_ornament_components__search>.icon{position:absolute;top:0;bottom:0;left:0;display:flex;align-items:center;padding-left:.75rem;pointer-events:none}.webman-cljs_ornament_components__search>.icon{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__search>.icon{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__search input{padding:1rem;width:100%;border-bottom-width:2px;padding-left:3rem}.webman-cljs_ornament_components__search input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__search input{border-color:#d2d8d899}}.webman-cljs_ornament_components__search input{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__search input{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__search input{--gi-bg-opacity:1;background-color:rgba(248,248,248,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__search input{--gi-bg-opacity:1;background-color:rgba(65,53,67,var(--gi-bg-opacity))}}.webman-cljs_ornament_components__search input:focus{outline:2px solid transparent;outline-offset:2px}.webman-cljs_ornament_components__search input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__search input{border-color:#d2d8d899}}
.webman-cljs_ornament_components__login{display:flex;height:100vh}.webman-cljs_ornament_components__login{--gi-bg-opacity:1;background-color:rgba(255,255,255,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login{--gi-bg-opacity:1;background-color:rgba(45,39,39,var(--gi-bg-opacity))}}.webman-cljs_ornament_components__login>.login-box{border-width:1px;border-radius:.5rem;--gi-shadow:0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);box-shadow:var(--gi-ring-offset-shadow,0 0 #0000),var(--gi-ring-shadow,0 0 #0000),var(--gi-shadow);padding:1.5rem;margin:auto;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:space-between}.webman-cljs_ornament_components__login>.login-box{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login>.login-box{border-color:#d2d8d899}}.webman-cljs_ornament_components__login input{padding:1rem;height:.5rem;border-width:1px;margin-top:1.5rem;margin-right:1.25rem}.webman-cljs_ornament_components__login input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login input{border-color:#d2d8d899}}.webman-cljs_ornament_components__login input{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login input{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__login input{--gi-bg-opacity:1;background-color:rgba(248,248,248,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login input{--gi-bg-opacity:1;background-color:rgba(65,53,67,var(--gi-bg-opacity))}}.webman-cljs_ornament_components__login input:focus{outline:2px solid transparent;outline-offset:2px}.webman-cljs_ornament_components__login input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__login input{border-color:#d2d8d899}}
.webman-cljs_ornament_components__ul>:not([hidden])~:not([hidden]){--gi-divide-y-reverse:0;border-top-width:calc(1px * calc(1 - var(--gi-divide-y-reverse)));border-bottom-width:calc(1px * var(--gi-divide-y-reverse))}.webman-cljs_ornament_components__ul{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__ul{border-color:#d2d8d899}}.webman-cljs_ornament_components__ul>.item{padding-bottom:.25rem;padding-left:1.25rem}@media(min-width:640px){.webman-cljs_ornament_components__ul>.item{padding-bottom:.5rem}}.webman-cljs_ornament_components__ul>.selected{--gi-bg-opacity:1;background-color:rgba(255,178,178,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__ul>.selected{--gi-bg-opacity:1;background-color:rgba(139,128,128,var(--gi-bg-opacity))}}
.webman-cljs_ornament_components__cand_item{display:flex;align-items:center}.webman-cljs_ornament_components__cand_item>:not([hidden])~:not([hidden]){margin-left:1rem}.webman-cljs_ornament_components__cand_item>.buttons{display:inline-flex;border-radius:.375rem;--gi-shadow:0 1px 2px 0 rgba(0,0,0,0.05);box-shadow:var(--gi-ring-offset-shadow,0 0 #0000),var(--gi-ring-shadow,0 0 #0000),var(--gi-shadow);display:none}.webman-cljs_ornament_components__cand_item:hover>.buttons{display:inline-flex}.webman-cljs_ornament_components__cand_item>.text-div{flex:1 1 0%;min-width:0}
.webman-cljs_ornament_components__modal{position:fixed;top:2.5rem;margin:auto;z-index:50;width:100%;padding:1rem}.webman-cljs_ornament_components__modal h3{font-size:1.25rem;line-height:1.75rem;font-weight:600}.webman-cljs_ornament_components__modal h3{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__modal h3{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__modal .webman-cljs_ornament_components__button{font-size:1.125rem;line-height:1.75rem;padding:.375rem;margin-left:auto;display:inline-flex;align-items:center}.webman-cljs_ornament_components__modal .content{position:relative;width:100%;height:100%;box-shadow:rgba(0,0,0,0.02) 0 1px 3px 0,rgba(27,31,35,0.15) 0 0 0 1px}.webman-cljs_ornament_components__modal .container{position:relative}.webman-cljs_ornament_components__modal .container{--gi-bg-opacity:1;background-color:rgba(248,248,248,var(--gi-bg-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__modal .container{--gi-bg-opacity:1;background-color:rgba(65,53,67,var(--gi-bg-opacity))}}.webman-cljs_ornament_components__modal .container>.header{display:flex;align-items:flex-start;justify-content:space-between;padding:1rem}.webman-cljs_ornament_components__modal .body{padding:1.5rem}.webman-cljs_ornament_components__modal .body>:not([hidden])~:not([hidden]){margin-top:1.5rem}
.webman-cljs_ornament_components__radio{float:left}.webman-cljs_ornament_components__radio label{float:left;display:block;padding-right:2rem}.webman-cljs_ornament_components__radio label{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__radio label{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__radio input{float:left;margin-right:.25rem;margin-top:.25rem}

.webman-cljs_ornament_components__tag_setter{display:flex;flex-direction:column;justify-content:space-between;align-items:stretch;justify-items:end;flex-wrap:nowrap;min-height:200px;max-height:80vh}.webman-cljs_ornament_components__tag_setter label{--gi-text-opacity:1;color:rgba(1,1,1,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__tag_setter label{--gi-text-opacity:1;color:rgba(210,216,216,var(--gi-text-opacity))}}.webman-cljs_ornament_components__tag_setter .url-input{border-width:1px}.webman-cljs_ornament_components__tag_setter .url-input{border-color:#01010199}@media(prefers-color-scheme:dark){.webman-cljs_ornament_components__tag_setter .url-input{border-color:#d2d8d899}}.webman-cljs_ornament_components__tag_setter .tag-input{float:left}.webman-cljs_ornament_components__tag_setter .webman-cljs_ornament_components__text{white-space:normal}.webman-cljs_ornament_components__tag_setter .webman-cljs_ornament_components__text_button{align-items:flex-end}
.webman-cljs_core__loading{box-sizing:border-box;display:inline-block;position:relative;width:35px;height:35px}.webman-cljs_core__loading div{box-sizing:border-box;position:absolute;width:7px;height:7px;border-radius:50%;animation:lds-grid 1.2s linear infinite}.webman-cljs_core__loading div:nth-child(1){top:3px;left:3px;animation-delay:-0}.webman-cljs_core__loading div:nth-child(2){top:3px;left:14px;animation-delay:-0.39999999999999997s}.webman-cljs_core__loading div:nth-child(3){top:3px;left:24px;animation-delay:-0.7999999999999999s}.webman-cljs_core__loading div:nth-child(4){top:14px;left:3px;animation-delay:-0.39999999999999997s}.webman-cljs_core__loading div:nth-child(5){top:14px;left:14px;animation-delay:-0.7999999999999999s}.webman-cljs_core__loading div:nth-child(6){top:14px;left:24px;animation-delay:-0}.webman-cljs_core__loading div:nth-child(7){top:24px;left:3px;animation-delay:-0.7999999999999999s}.webman-cljs_core__loading div:nth-child(8){top:24px;left:14px;animation-delay:-0}.webman-cljs_core__loading div:nth-child(9){top:24px;left:24px;animation-delay:-0.39999999999999997s}.webman-cljs_core__loading div{--gi-bg-opacity:1;background-color:rgba(37,123,255,var(--gi-bg-opacity));--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity))}@media(prefers-color-scheme:dark){.webman-cljs_core__loading div{--gi-bg-opacity:1;background-color:rgba(255,255,54,var(--gi-bg-opacity))}}@media(prefers-color-scheme:dark){.webman-cljs_core__loading div{--gi-text-opacity:1;color:rgba(45,39,39,var(--gi-text-opacity))}}